<% provide(:title, "About") %>
<h1>Static and Users</h1>
<p>
This is about page for Static and Users App.  
Read about what you need to know about british shorthair
<a href=https://www.petful.com/cat-breeds/british-shorthair/>British Shorthair Cat</a>
</p>